#article-form{
  padding: 10px 15px;
  background: white;

  form{
    textarea{
      resize: none;
      font-family: Courier, "Courier New", monospace;
    }

    .snippet{
      margin-bottom: 15px;
    }
  }
}