#snippets{
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  background-color: $gray-lighter;

  .snippet{
    margin-bottom: 10px;
    background-color: white;

    .snippet-controls{
      border: 1px solid #ccc;
      border-bottom: 0;
      text-align: center;
      overflow: auto;

      .col-xs-2{padding: 0;}

      a, .snippet-type{
        color: $gray-light;
        display: block;
        height: 30px;
        line-height: 30px;
      }

      .snippet-type{
        background-color: #ccc;
        color: $gray-darker;
      }

      a{
        font-size: 1.2em;

        cursor: pointer;
        &.active, &:hover{
          background-color: $gray-lighter;
          color: $gray-darker;
        }
      }
    }
  }
}