*{
  border-radius: 0 !important;
}

html{
  position: relative;
  min-height: 100%;
}

body{
  margin-bottom: 50px;
  background-color: #ddd;
  background: fixed image-url('background_2.jpg') left no-repeat;

  > .container{
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 1024px){
  html, body{
    background-color: #ddd;
    background-image: none;
  }
}

section#main{
  #content{
    margin-bottom: 20px;
  }

  .pages{
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;

    ul{
      a{
        color: #333;
        &:hover{ color: #000 }
      }

      li.active a{
        color: #000;
        background-color: rgb(230, 220, 200);
        border: 1px solid rgb(230, 220, 200) !important;
        z-index: 100;
        border: 0;
      }
      li a.glyphicon{ margin-top: -1px; }
    }
  }
}

.footer-buffer{
  height: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(34,34,34);

  p{
    margin-top: 15px;
    text-align: right;
  }
}